<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>My Account</title>
</head>
<body>
<div>
	Hello, <span th:text="${username}">user</span>: <a href="/">Back to Forum</a>
</div>
<div th:text="${message}"></div>
<form action="/account" method="post">
<div>
	<label>
		Change Password: <input type="password" name="password" />
	</label>
	<input type="submit" />
</div>
</form>
</body>
</html>