<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${topic.title}">Topic Title</title>
</head>
<body>
<a href="/">Back to Forum</a>
<h2 th:text="${topic.title}">Topic Title</h2>
<div>Submitted by <span th:text="${topic.author.username}">username</span> on <span th:text="${#calendars.format(topic.date, 'dd/MMM/yyyy HH:mm:ss')}">date</span>.</div>
<p th:utext="${topic.content}">topic content</p>
</body>
</html>