<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello</title>
</head>
<body>
<div>
	Hello, <span th:text="${username}">user</span>: <a href="/topic">New Post</a> | <a href="/account">My Account</a> | <a href="/logout">Logout</a>
</div>
<table border="1">
	<thead>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="topic: ${topics}">
			<td><a th:href="@{'/topic/' + ${topic.id}}" th:text="${topic.title}">title</a></td>
			<td th:text="${topic.author.username}">username</td>
			<td th:text="${#calendars.format(topic.date, 'dd/MMM/yyyy HH:mm:ss')}">date</td>
		</tr>
	</tbody> 
</table>
</body>
</html>