<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Menu Fragment</title>
</head>
<body>
	<div th:fragment="menu">
		<div>Menu</div>
		<ul th:each="item : ${menu.menuItems}">
			<li><a th:text="${item.displayName}" th:href="${item.path}"></a></li>
		</ul>
	</div>
</body>
</html>