<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Restaurant</title>
</head>
<body>
	<h1>Order for Table <span th:text="${order.table.number}">x</span></h1>
	<div th:include="menu::menu">Menu</div>
	
	<h2>Total: <span th:text="${order.total}">x</span> EUR</h2>
	
	<h2>Entries</h2>
	
	<form th:action="@{/orders/{orderId}(orderId=${order.id})}" method="post">
	<input type="hidden" name="id" th:value="${order.id}"/>
	<table border="1">
		<tr>
			<th>Item</th>
			<th>Price</th>
			<th>Amount</th>
			<th>Subtotal</th>
			<th>Actions</th>
		</tr>
		<tr th:each="entry : ${order.entries}">
			<td th:text="${entry.dish.name}"></td>
			<td th:text="${entry.dish.price}"></td>
			<td th:text="${entry.amount}"></td>
			<td th:text="${entry.subtotal}"></td>
			<td/>
		</tr>
		<tr>
			<td>
				<select name="dish">
					<option th:each="dish : ${dishes}" th:value="${dish.id}" th:text="${dish.name}"/>
				</select>	
			</td>
			<td/>
			<td>
				<input name="amount" type="number"/>
			</td>
			<td/>
			<td>
				<input type="submit" name="addEntry" value="Add Entry"/>
			</td>
		</tr>
	</table>
	
	<input type="submit" name="finish" value="Finish Order"/>
	</form>
	
</body>
</html>