<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Restaurant</title>
</head>
<body>
	<h1>Orders</h1>
	<div th:include="menu::menu">Menu</div>
	
	<table border="1">
		<tr>
			<th>Table Number</th>
			<th>Total</th>
			<th>Actions</th>
		</tr>
		<tr th:each="order : ${orders}">
			<td th:text="${order.table.number}"></td>
			<td th:text="${order.total}"></td>
			<td>
				<a th:href="@{/orders/{orderId}(orderId=${order.id})}">details</a>
			</td>
		</tr>
	</table>
</body>
</html>